/*
==========================================
    CSS, advanced 2. Header and Banner
==========================================
*/

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/source-sans-pro/SourceSansPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/source-sans-pro/SourceSansPro-Bold.otf');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/source-sans-pro/SourceSansPro-It.otf');
    font-weight: normal;
    font-style: italic;
}

* {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
}

body {
    margin: auto;
    color: #FFFFFF;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('imgs/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 1093px;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    width: 1103px;
}

.navbar a.logo img {
    height: 29px;
    width: 167px;
}

.navbar_links {
    display: flex;
    justify-content: space-between;
    width: 234px;
    height: 15px;
}

.navbar_links a {
    font-size: 12px;
    font-weight: bold;
}

.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10rem;
}

.banner h1 {
    display: flex;
    font-size: 120px;
    font-weight: bold;
}

.banner_sub {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    font-size: 16px;
    font-weight: bold;
    margin-top: -15px;
}

.banner button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 44px;
    color: #FFFFFF;
    background-color: #C271FF;
    border: none;
    border-radius: 25px;
    box-shadow: 0 2px 20px #00000080;
    margin-top: 2rem;
    cursor: pointer;
    font-size: 14px;
}

.pros_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 10rem;
}

.subtitle {
    font-size: 32px;
    font-weight: 100;
    width: 291px;
    height: 40px;
}

.highlight {
    font-weight: bold;
    color:#C271FF
}

.pros {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1009px;
    height: 237px;
}

.pro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 237px;
    width: 150px;
    margin-top: 10rem;
}

.pro img {
    border-radius: 50%;
    margin-bottom: 1rem;
}

.pro h3 {
    font-size: 18px;
}

.pro p {
    font-size: 16px;
    font-style: italic;
}

/*
==========================================
        CSS, advanced 3. Quotes
==========================================
*/

.testimonials {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #C271FF;
    height: 25rem;
    font-size: 22px;
}

.testimonials img {
    width: 160px;
    height: 160px;
    margin-right: 3rem;
}

.testimonials_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.testimonials h4 {
    font-weight: bold;
    margin-top: 1rem;
}

.testimonials p {
    font-style: italic;
}

/*
==========================================
        CSS, advanced 4. Videos list
==========================================
*/

.videos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 624px;
}

.videos h1 {
    color: #071629;
    font-weight: normal;
    font-size: 32px;
    margin-bottom: 5rem;
}

/*
<span class="highlight"> to make the word "popular" bold and purple
is already defined is the "CSS, advanced 2. Header and Banner" part.
*/

.videos h2 {
    color: #071629;
    font-weight: bold;
    font-size: 16px;
}

.videos p {
    color: #07162980;
}

.videos h3, .videos_stars p {
    color: #C271FF;
    font-weight: 600;
    font-size: 14px;

}

.videos_container,
.videos_pro,
.videos_stars {
    display: flex;
    flex-direction: row;
}

.videos_pro {
    align-items: center;
}

.videos_pro img {
    margin-right: 1rem;
}

.videos h2,
.videos p,
.videos_pro,
.videos_stars {
    margin: 1rem;
}

.videos_stars {
    justify-content: space-between;
}

.videos_stars p {
    margin: 0rem;
}

/*
==========================================
        CSS, advanced 5. Membership
==========================================
*/

.membership {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 502px;
    background-color: #071629;
    color: #FFFFFF;
}

.membership h1 {
    font-weight: 100;
    font-size: 32px;
}

/*
<span class="highlight"> to make the word "Free" bold and purple
is already defined is the "CSS, advanced 2. Header and Banner" part.
*/

.membership img {
    margin-bottom: 2rem;
}

.lorems {
    display: flex;
    flex-direction: row;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.lorem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 0 5rem 0 5rem;
}

.lorem h2 {
    font-weight: 600;
    font-size: 18px;
}

.lorem p {
    font-size: 14px;
    line-height: 175%;
    margin: 1rem;
}

.membership button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 162px;
    height: 44px;
    color: #FFFFFF;
    background-color: #C271FF;
    border: none;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
}

/*
==========================================
        CSS, advanced 6. FAQ
==========================================
*/

.faq {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #071629;
}

.faq h1 {
    font-weight: 100;
    font-size: 60px;
    margin-top: 5rem;
}

.faq h2 {
    font-weight: bold;
    font-size: 16px;
}

.faq p {
    font-size: 14px;
    color: #07162980;
    line-height: 150%;
    margin-top: 2rem;
}

.faq_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.faq_block {
    margin: 5rem;
}

/*
==========================================
        CSS, advanced 7. Footer
==========================================
*/

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: #071629;
    height: 249px;
    text-align: center;
    font-size: 12px;
    color: #FFFFFF80;
}

footer p {
    position: absolute;
    margin-top: 10rem;
}

.footerbar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.footerbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.socials {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 130px;
}

